# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### AUTOTRACE ###

## Configure files
# $ ./configure
Makefile
autotrace-config
autotrace.pc
config.h
config.log
config.status
libtool
stamp-h1

## Build files
# $ make
input-bmp.lo
input-bmp.o
input-pnm.lo
input-pnm.o
input-tga.lo
input-tga.o
stamp-h
# Build success
.libs/
atou.o
autotrace
autotrace.lo
autotrace.o
bitmap.lo
bitmap.o
color.lo
color.o
curve.lo
curve.o
despeckle.lo
despeckle.o
epsilon-equal.lo
epsilon-equal.o
exception.lo
exception.o
filename.lo
filename.o
fit.lo
fit.o
getopt.o
getopt1.o
image-proc.lo
image-proc.o
input-png.lo
input-png.o
input.lo
input.o
libautotrace.la
logreport.lo
logreport.o
main.o
median.lo
median.o
output-cgm.lo
output-cgm.o
output-dr2d.lo
output-dr2d.o
output-dxf.lo
output-dxf.o
output-emf.lo
output-emf.o
output-epd.lo
output-epd.o
output-eps.lo
output-eps.o
output-er.lo
output-er.o
output-fig.lo
output-fig.o
output-mif.lo
output-mif.o
output-p2e.lo
output-p2e.o
output-pdf.lo
output-pdf.o
output-sk.lo
output-sk.o
output-svg.lo
output-svg.o
output.lo
output.o
pxl-outline.lo
pxl-outline.o
spline.lo
spline.o
strgicmp.lo
strgicmp.o
thin-image.lo
thin-image.o
vector.lo
vector.o
xstd.lo
xstd.o